<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>node-txgit</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="text-center">
					<p class="visible-xs"><img src="media/logo.png" alt="node-txgit logo" style="height: 64px;"></p>
					<h1><img class="hidden-xs" src="media/logo.png" alt="node-txgit logo" style="height: 64px;"> node-txgit</h1>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>
						<span class="label label-success">Success</span>
						<div class="visible-xs">
							<br>
						</div>
						App is running
					</h4>
				</div>
				<div class="col-md-6">
					<h4><small>Great, the app is running and available at <span class="label label-default"><%= host %></span>!</small></h4>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (TRANSIFEX_USERNAME) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						TRANSIFEX_USERNAME
					</h4>
				</div>
				<div class="col-md-6">
					<% if (TRANSIFEX_USERNAME) { %>
						<h4><small>Set to <span class="label label-default"><%= TRANSIFEX_USERNAME %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">TRANSIFEX_USERNAME</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (TRANSIFEX_PASSWORD) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						TRANSIFEX_PASSWORD
					</h4>
				</div>
				<div class="col-md-6">
					<% if (TRANSIFEX_PASSWORD) { %>
						<h4><small>ENV variable is set, but it's a secret!</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">TRANSIFEX_PASSWORD</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (TRANSIFEX_FORMAT) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						TRANSIFEX_FORMAT
					</h4>
				</div>
				<div class="col-md-6">
					<% if (TRANSIFEX_FORMAT) { %>
						<h4><small>Set to <span class="label label-default"><%= TRANSIFEX_FORMAT %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">TRANSIFEX_FORMAT</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (GIT_REPO_URL) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						GIT_REPO_URL
					</h4>
				</div>
				<div class="col-md-6">
					<% if (GIT_REPO_URL) { %>
						<h4><small>ENV variable is set, but it's a secret!</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">GIT_REPO_URL</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (GIT_NAME) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						GIT_NAME
					</h4>
				</div>
				<div class="col-md-6">
					<% if (GIT_NAME) { %>
						<h4><small>Set to <span class="label label-default"><%= GIT_NAME %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">GIT_NAME</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (GIT_EMAIL) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						GIT_EMAIL
					</h4>
				</div>
				<div class="col-md-6">
					<% if (GIT_EMAIL) { %>
						<h4><small>Set to <span class="label label-default"><%= GIT_EMAIL %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">GIT_EMAIL</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (LOCALE_DIR) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						LOCALE_DIR
					</h4>
				</div>
				<div class="col-md-6">
					<% if (LOCALE_DIR) { %>
						<h4><small>Set to <span class="label label-default"><%= LOCALE_DIR %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">LOCALE_DIR</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (LOCALE_SOURCE) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						LOCALE_SOURCE
					</h4>
				</div>
				<div class="col-md-6">
					<% if (LOCALE_SOURCE) { %>
						<h4><small>Set to <span class="label label-default"><%= LOCALE_SOURCE %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">LOCALE_SOURCE</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (LOCALE_EXT) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						LOCALE_EXT
					</h4>
				</div>
				<div class="col-md-6">
					<% if (LOCALE_EXT) { %>
						<h4><small>Set to <span class="label label-default"><%= LOCALE_EXT %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">LOCALE_EXT</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (cloned) { %>
							<span class="label label-success">Success</span>
						<% } else if (cloneError) { %>
							<span class="label label-danger">Error</span>
						<% } else { %>
							<span class="label label-warning">In Progress</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						Clone Repo Status
					</h4>
				</div>
				<div class="col-md-6">
					<% if (cloned) { %>
						<h4><small>Repo has successfully been cloned.</small></h4>
					<% } else if (cloneError) { %>
						<h4><small>There was an error trying to clone the repo. Check your server logs for more information.</small></h4>
					<% } else { %>
						<h4><small>The repo cloning is currently in progress. <a href="#" onclick="location.reload()">Refresh to update status.</a></small></h4>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (typeof lastAttempt === 'string') { %>
							<span class="label label-success">Success</span>
						<% } else if (lastAttempt === false) { %>
							<span class="label label-danger">Error</span>
						<% } else { %>
							<span class="label label-warning">No Attempts</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						Last Attempt Status
					</h4>
				</div>
				<div class="col-md-6">
					<% if (typeof lastAttempt === 'string') { %>
						<h4><small>The lastest update was for <span class="label label-default"><%= lastAttempt %></span>.</small></h4>
					<% } else if (lastAttempt === false) { %>
						<h4><small>There was an error with the last update attempt. Check your server logs for more information.</small></h4>
					<% } else { %>
						<h4><small>No update has been attempted yet.</h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="text-muted">
						Powered by <a href="https://github.com/coursepark/node-txgit">node-txgit</a><br>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
